@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;

}
a{
    display: inline;
    margin: 30px;
}
.block{
display: block;
margin: 30px;
}